body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: orange;
}

p {
    font-weight: 600;
    font-size: 3em;
}

.text-background {
    background-color: olive;
    color: white;
}