html,
body {
    height: 100%;
    background-color: #e9bc82;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.top-header {
    position: relative;
    text-align: center;
    height: 100%;
    color: #b4b4b4;
    background-color: #282828;
}

.top-header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.top-header strong {
    color: #e9bc82;
}

.top-header h1,
.top-header h2 {
    margin: 0px;
    font-weight: normal;
}

.top-header h1 {
    font-size: 2.7em;
}

.top-header nav {
    position: absolute;
    background-color: #121212;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 30px 30px;
    border-top: none;
}

.top-header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
}

.top-header li {
    list-style: none;

}

.top-header nav a {
    color: #b4b4b4;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid #121212;
}

.top-header nav a:hover {
    border: 1px solid #e9bc82;
    color: white;
}

main {
    text-align: center;
}

main aside {
    display: inline-block;
    width: 15%;
    min-height: 500px;
    background-color: white;
    vertical-align: top;
    margin-top: 50px;
    text-align: start;
    padding: 20px;
}

main aside a {
    text-decoration: none;
}

main article {
    display: inline-block;
    width: 70%;
    background-color: white;
    text-align: start;
}

.main-header {

    padding-top: 10px;
}

.sci-name {
    width: 400px;
    margin: auto;
    text-align: center;
}

.sci-name h2 {
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    border: 3px solid #505050;
    border-left: 0px;
    border-right: 0px;
}

.stomatopoda-tec-info {
    margin-top: 50px;
    height: 100%;
    padding-bottom: 50px;

}

.stomatopoda-figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    width: 500px;
    padding: 5px;
    margin-top: 0px;
    margin: 0 auto;
}

.stomatopoda-figure img {
    width: 500px;
    height: 400px;
}

.stomatopoda-figure figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.info-table {
    display: flex;
    height: auto;
    margin-bottom: 16px;
    justify-content: end;
    width: auto;
    margin-left: auto;
}

.info-table table {
    height: 426px;
    margin-left: auto;
    border: 20px solid #e9bc82;
    border-right: 0px;
    border-left: 40px solid #e9bc82;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    background-color: white;
    text-align: center;
    left: calc(100% - 80px);
    transform: translateX(-100%);
    top: calc(100% + 113px);

}

.info-table table span {
    font-size: 0.7em;
}

.info-table td:first-child {
    font-weight: bold;
    color: #282828;
}

.info-table td {
    padding: 15px;
}

main section div {
    margin: 20px 60px;
    display: inline-block;
}

main section div:nth-child(2n+1) {
    width: 60%;
}

main section h3 {
    text-align: center;
}

main .initial-letter {
    display: block;
    position: relative;
    top: -10px;
    height: 54px;
    float: left;
    font-size: 4em;
    color: #282828;

}

main .blue {
    color: blue;
    font-weight: 600;
}

main .green {
    color: green;
    font-weight: 600;
}

main .red {
    color: red;
    font-weight: 600;
}

main .stomatopoda-name {
    color: #a57f4f;
    font-weight: 600;
}

main section .uppercase {
    text-transform: uppercase;
}

main section p {
    min-height: 250px;
}

main section .content-text {
    vertical-align: middle;
    display: inline-block;
}

main .content-img {
    height: 345px;
    text-align: center;
    display: inline-block;

}

main .left {
    float: left
}

main .right {
    float: right
}

main .vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

main .content-img img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    width: 270px;
    height: 200px;
}

.main-footer {
    margin: 0px 40px;
    padding-bottom: 20px;
}

.body-footer {
    height: 200px;
    background-color: #282828;
    text-align: center;
}

.body-footer p {
    margin-top: 0px;
    padding-top: 16px;
    font-size: 1.5em;
    color: #b4b4b4;
}